@import "tailwindcss";

html {
    min-height: 100vh;
    background: #edf1f7;
}

h1, h2, h3, h4, h5, h6, label {
    font-family: var(--font-abhaya);
    font-weight: 600;
}

p {
    font-family: var(--font-quicksand);
    font-weight: 300;
}

input, textarea {
    background-color: var(--color-subtlebackground);
}

@theme {
    --font-quicksand: 'Quicksand', sans-serif;
    --font-pt-sans: 'PT Sans', sans-serif;
    --font-pt-sans-caption: 'PT Sans Caption', sans-serif;
    --font-abhaya: 'Abhaya Libre', serif;

    --color-creamwhite: #FCF7DF;
    --color-lightblue: #C7D3DB;
    --color-dullbrown: #A79A8A;
    --color-deepbrown: #3E3630;
    --color-subtlebackground: #edf1f7;

    --animate-scale-text-hover: scale-text-hover 0.3s ease-out infinite;

    @keyframes scale-text-hover {
        0% {
            transform: scale(0.95);
        }

        100% {
            transform: scale(2);
        }
    }
}